body {
  background-color: blanchedalmond;
  color: rgb(20, 6, 6);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size: 45px;
}

img {
  width: 380px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px 50px;
}

h2 {
  margin: 20px;
  padding: 10px;
  font-size: 25px;
  font-weight: 35px;
  color: darkblue;
}

p {
  margin-left: 30px;
}

#Connect h2 {
  color: black;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}

#Connect li {
  list-style-type: none;
  text-align: center;
}

#Connect > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 2.5em;
}

a {
  font-weight: 20px;
  background: rgb(186, 213, 218);
  font-size: 18px;
  font-weight: bold;
}

/*Experience Section Styling */

.title-date {
  display: flex;
  justify-content: space-between;
}

.job-title {
  font-weight: bold;
}

.description {
  font-style: italic;
  margin-top: 0;
}

.experience-item {
  margin-bottom: 50px;
}

.job-title {
  font-weight: bold;
  font-size: 1.2em;
}

.date {
  font-size: 1em;
  color: gray;
}

#experience-list {
  background-color: rgb(212, 190, 159);
  margin: 20px;
  padding: 18px;
  border-radius: 50px;
}
